#body-container {
    display: grid;
    width: 95%;
    height: 93vh;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#rock-button {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

#paper-button {
    display: flex;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

#scissors-button {
    display: flex;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

#results-div {
    display: flex;
    flex-direction: column;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 8;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

#scorecard {
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    flex-direction: row;
    align-content: center;
}

#scorecard-you {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 10%;
}

#scorecard-computer {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
    padding-right: 10%;
}